@import "tailwindcss";

:root {
  --color-icon: #e4462f;       /* Vibrant red-orange */
    --color-icon-less: #e4472f70;       /* Vibrant red-orange */

  --color-blogswift: #0b1b29;  /* Very dark navy */
    --color-blogswift-less: #0b1b299f;  /* Very dark navy */
--color-danger: #e53935;       /* Strong red */
  --color-danger-less: #ff867c;  /* Softer red/pink */
  --color-beige: #f4f0e9;      /* Off-white/beige */
  --color-peach: #fbd6c4;      /* Light peach tone */
    --color-peach-less: #fbd6c491;
}
body {
  background: radial-gradient(circle, var(--color-beige), var(--color-blogswift)  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.dark-mode {
  background: radial-gradient(circle, rgb(34, 35, 72), var(--color-blogswift));
  transition: background 1s ease-in-out;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.material-icons {
  font-size: 26px;
  vertical-align:sub !important;
}
