

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 100vh; /* Full viewport height */
  padding: 20px;
}


.login-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.login-form input {
  padding: 10px;
  font-size: 16px;
  background-color: var(--color-peach);
  border-radius: 30px;
    box-shadow: 0  0 15px var(--color-peach);
    font-size: 20px !important;
    font-weight: 500;
    transition: 0.3s padding ease-in-out;
}
.login-form input:hover{
    padding: 15px;

}
.login-form button {
  padding: 10px 20px;
  font-size: 26px !important;
  font-weight: 700;
  box-shadow: 0  0 15px var(--color-icon);
}

.image-container {
  text-align: center;
}

.login-image {
  max-width: 300px;
  height: auto;
 border-radius: 100%;
 margin: 30px;
     box-shadow: 0  0 15px var(--color-beige);

}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.button-row {
  margin-top: 10px;
  text-align: center;
}

.button-row button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 60px;
  background-color: var( --color-icon);
    transition: 0.3s box-shadow ease-in-out, 0.3s font-size ease-in-out;

}
.button-row button:hover{
   box-shadow: 0 0 40px var( --color-icon);
  font-size: 30px !important;
}
.registerLogin{
  margin: 10px;
   padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer !important;
  border-radius: 60px;
  background-color: var( --color-icon-less);
  box-shadow: 0 0 20px var( --color-icon-less);
  transition: 0.3s box-shadow ease-in-out, 0.3s font-size ease-in-out;
}
.registerLogin:hover{
  box-shadow: 0 0 20px var( --color-icon);
  font-size: 20px;

}