.search-users-input{
                   max-width: 400px;
                   padding: 10px;
                   border-radius: 30px;
                   background-color: #6fffd124;
}
.user-search-page{
                   margin: 0 auto;
}
 .btn-danger {
  background: linear-gradient(90deg, var(--color-danger), var(--color-danger-less));
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.6em 1.5em;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 18px var(--color-danger-less);
  margin-right: 0.7em;
  transition: background 0.2s, box-shadow 0.2s, padding 0.2s;
}
.btn-danger:hover,
 .btn-danger:focus {
  background: linear-gradient(90deg, var(--color-danger-less), var(--color-danger));
  box-shadow: 0 0 30px var(--color-danger);
  padding-left: 2em;
  padding-right: 2em;
}