.search-users-input{
                   max-width: 400px;
                   padding: 10px;
                   border-radius: 30px;
                   background-color: #6fffd124;
}
.user-search-page{
                   margin: 0 auto;
}
 .btn-danger {
  background: linear-gradient(90deg, var(--color-danger), var(--color-danger-less));
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.6em 1.5em;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 18px var(--color-danger-less);
  margin-right: 0.7em;
  transition: background 0.2s, box-shadow 0.2s, padding 0.2s;
}
.btn-danger:hover,
 .btn-danger:focus {
  background: linear-gradient(90deg, var(--color-danger-less), var(--color-danger));
  box-shadow: 0 0 30px var(--color-danger);
  padding-left: 2em;
  padding-right: 2em;
}

.user-result {
  background: #f6ffff;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px #e0f7fa;
  cursor: pointer;
  transition: border-radius 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.user-result:hover {
  padding: 25px;
  margin: 30px;
    box-shadow: 0 10px 50px #e0f7fa;
  border-radius: 40px;

}
.dark-mode .user-result:hover{
    box-shadow: 0 10px 50px #ff000038;

}
.dark-mode .user-result {
    background: #00000065;
color: whitesmoke ;
  box-shadow: 0 2px 10px #ff000038;

}
.dark-mode .search-users-input{
                    background-color: #ff000022;    
                    color: whitesmoke;
}